

#social-buttons button {

color: white;

}

.btn-twitter {

background-color: #00acee;

border-color: #009ad5;

}

.btn-facebook {

background-color: #4868ac;

border-color: #314776;

}

.btn-pinterest {

background-color: #b62f26;

border-color: #b62f26;

}

.jumbotron {

min-height: 600px;


background-size: cover;

background-attachment: fixed;

}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
height: auto;
max-width: 800px;
max-height: 800px;
line-height: 1;
width: 100%; 
padding: 20px;
text-align: center;
}